<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" >
<meta name= "viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-US-Compatible" content="ie=edge">
<title>Afya Pap Inventory</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<style>
    html{
        padding:50px;
    }
</style>
<head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1>Dashboard</h1>
            </div>
            <h3><span class="fa fa-user"></span>Welcome <%= user.username %></h3>
        </div>
    </body>
</head>