<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" >
<meta name= "viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-US-Compatible" content="ie=edge">
<title>Afya Pap Inventory</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<style>
    html{
        padding:50px;
    }
</style>
<head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <a href="/login" class="btn btn-lg btn-success">login</a>
                <a href="/signup" class="btn btn-lg btn-success">Register</a>
            </div>
        </div>
    </body>
</head>