<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" >
<meta name= "viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-US-Compatible" content="ie=edge">
<title>Afya Pap Inventory</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<style>
    html{
        padding:50px;
    }
</style>
<head>
    <body>
        <div class="container">
           <div class="col-sm-6-col-sm-offset-3">
               <h2>Register</h2>

               <% if(message.length > 0){ %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>
            
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username">
                     </div>
                     <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                     </div>

                     <button type="submit" class="btn btn-success btn-lg">Register</button>
                  </form>

                  <hr>

                  <p>Have an account? <a href="/login">Login</a></p>
                  
           </div>
        </div>
    </body>
</head>